.total2{
    background-image: url(anhtotal2.jpg );
    background-size: cover;
    background-position: center;
    background-repeat: none;
    height: 730px;
    width: 100%;
    justify-content: space-around;
    color: darkorange;
    background-color: black;
    display: flex;
}
.story5{
    height: 200px;
    width: 300px;
}
.story5 h1 {
text-align: center;
}
.the5v3 img{
    height: 180px;
    width: 150px;

}
.the5v1{
    display: flex;
    justify-content: space-around;
}
.story5 button{
    color:darkorange;
    background-color: transparent;
    border: solid 2px;
    width: 100px;
    transition: 2s;
    margin-top: 22px;
}
.story5 button:hover{
    background-color: transparent;
    color: darkorange;
    width: 200px;
    transition:3s ;
    border: solid 2px;
    cursor: pointer;
    border-radius: 10px;
}
.story6{
    height: 200px;
    width: 300px; 
}
.story6 h1 {
    text-align: center;
}
.the6v3 img {
    height: 180px;
    width: 150px;
}
.the6v1{
    display: flex;
    justify-content: space-around;
}
.story6 button{
    color:darkorange;
    background-color: transparent;
    border: solid 2px;
    width: 100px;
    transition: 2s;
}
.story6 button:hover{
    background-color: transparent;
    color: darkorange;
    width: 200px;
    transition:3s ;
    border: solid 2px;
    cursor: pointer;
    border-radius: 10px;
}
.story7{
    height: 200px;
    width: 300px; 
}
.story7 h1 {
    text-align: center;
}
.the7v3 img{
    height: 180px;
    width: 150px;
    }
.the7v1{
    display: flex;
    justify-content: space-around;
}
.story7 button{
    color:darkorange;
    background-color: transparent;
    border: solid 2px;
    width: 100px;
    transition: 2s;
}
.story7 button:hover{
    background-color: transparent;
    color: darkorange;
    width: 200px;
    transition:3s ;
    border: solid 2px;
    cursor: pointer;
    border-radius: 10px;
}
.story8{
    height: 200px;
    width: 300px; 
}
.story8 h1 {
    text-align: center;
}
.the8v3 img{
    height: 180px;
    width: 160px;
    }
.the8v1{
    display: flex;
    justify-content: space-around;
}
.story8 button{
    color:darkorange;
    background-color: transparent;
    border: solid 2px;
    width: 100px;
    transition: 2s;
    margin-top: 18px;
}
.story8 button:hover{
    background-color: transparent;
    color: darkorange;
    width: 200px;
    transition:3s ;
    border: solid 2px;
    cursor: pointer;
    border-radius: 10px;
}